* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

.title-text {
	font-size: 48px;
	font-weight: bold;
}

.header {
	position: fixed;
	width: 100%;

	padding: 30px 10%;
	background-color: beige;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	margin: 0 10%;
	padding-top: 115px;
}

.content p {
	white-space: pre-line;
}